/* ==========================
   BUTTONS
========================== */


button{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

    transition:.3s ease;

}



button:hover{

    transform:translateY(-2px);

    opacity:.9;

}





/* ==========================
   CARDS
========================== */


.card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:

    0 10px 30px rgba(0,0,0,.08);


    transition:.3s ease;

}



.card:hover{

    transform:translateY(-5px);

}






/* ==========================
   PLACEHOLDER
========================== */


.placeholder-card{

    text-align:center;

    padding:40px;

    color:#64748b;

}







/* ==========================
   FAVORITE BUTTON
========================== */


#favoriteBtn{

    background:#f59e0b;

}





.remove-fav{

    background:#dc2626;

    padding:8px 12px;

}





/* ==========================
   LOADER
========================== */


.loader{

    position:fixed;

    inset:0;


    background:rgba(255,255,255,.8);


    display:flex;

    align-items:center;

    justify-content:center;


    z-index:999;

}



.loader.hidden{

    display:none;

}





.spinner{

    width:45px;

    height:45px;


    border:5px solid #ddd;


    border-top-color:#2563eb;


    border-radius:50%;


    animation:

    spin 1s linear infinite;

}



@keyframes spin{


    from{

        transform:rotate(0deg);

    }


    to{

        transform:rotate(360deg);

    }


}








/* ==========================
   COIN ROW
========================== */


.coin-row{

    padding:12px 0;

}





.coin-info span{

    font-weight:600;

}





.coin-data strong{

    display:block;

}







/* ==========================
   THEME BUTTON
========================== */


#themeBtn{

    background:#0f172a;

    border-radius:50%;

    width:42px;

    height:42px;

    padding:0;

}




body.dark .card,
body.dark .placeholder-card{

    background:#0f172a;

    color:#e2e8f0;

}




body.dark .loader{

    background:rgba(0,0,0,.6);

}