.logo{

font-size:28px;

font-weight:700;

color:var(--primary);

}

.card{

background:var(--card);

border-radius:var(--radius);

padding:24px;

box-shadow:var(--shadow);

transition:.3s;

}

.card:hover{

transform:translateY(-6px);

}

button{

background:var(--primary);

color:#fff;

padding:12px 20px;

border-radius:10px;

font-size:15px;

font-weight:600;

}

button:hover{

transform:scale(1.05);

}

input{

width:100%;

padding:14px;

border-radius:10px;

border:1px solid #d1d5db;

margin-top:12px;

font-size:15px;

background:#fff;

}

body.dark input{

background:#334155;

color:#fff;

border:none;

}

.coin-card{

text-align:center;

}

.coin-card img{

width:70px;

margin:auto;

margin-bottom:12px;

}

.favorite-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:10px 0;

border-bottom:1px solid #e5e7eb;

}

.remove-btn{

background:#ef4444;

padding:6px 12px;

font-size:13px;

}

.market-item{

display:flex;

justify-content:space-between;

padding:12px 0;

border-bottom:1px solid #eee;

}

.chart-container{

height:400px;

}

.spinner{

text-align:center;

padding:20px;

font-size:18px;

}

.error{

color:#ef4444;

font-weight:600;

text-align:center;

padding:15px;

}