.dashboard-container{

 width:min(1200px,92%);

 margin:auto;

}



.hero{

 padding:50px 0;

 text-align:center;

}


.hero h1{

 font-size:48px;

 font-weight:800;

}


.hero p{

 color:#64748b;

 margin-top:10px;

 font-size:18px;

}



/* SEARCH */

.search-box{

 display:flex;

 justify-content:center;

 gap:15px;

 margin-top:30px;

}


.search-box input{

 width:500px;

 padding:16px 20px;

 border-radius:14px;

 border:1px solid #ddd;

 font-size:16px;

}


.search-box button{

 background:#2563eb;

 color:white;

 padding:15px 30px;

 border-radius:14px;

}



/* SECTION */


.section{

 background:white;

 padding:30px;

 margin:30px 0;

 border-radius:20px;

 box-shadow:

 0 10px 30px rgba(0,0,0,.06);

}



.section h2{

 margin-bottom:20px;

}



/* MARKET */


.market-grid{

 display:grid;

 grid-template-columns:
 repeat(4,1fr);

 gap:20px;

}


.market-card{

 padding:25px;

 background:#f8fafc;

 border-radius:18px;

}


.market-card h3{

 color:#64748b;

 font-size:14px;

}


.market-card p{

 margin-top:10px;

 font-size:28px;

 font-weight:800;

}



/* WIDGET */


.widgets{

 display:grid;

 grid-template-columns:1fr 1fr;

 gap:25px;

}


.widget{

 background:white;

 padding:25px;

 border-radius:20px;

 box-shadow:
 0 10px 25px rgba(0,0,0,.06);

}



/* CHART */


.chart-card{

 background:white;

 padding:30px;

 border-radius:20px;

 height:450px;

}



.chart-container{

 height:350px;

}



/* CONVERTER */


.converter-box{

 display:flex;

 gap:15px;

}


.converter-box input{

 padding:15px;

 border-radius:12px;

 border:1px solid #ddd;

}



@media(max-width:900px){

.market-grid{

 grid-template-columns:1fr 1fr;

}


.widgets{

 grid-template-columns:1fr;

}

}



@media(max-width:600px){


.hero h1{

 font-size:32px;

}


.search-box{

 flex-direction:column;

}


.search-box input{

 width:100%;

}


.market-grid{

 grid-template-columns:1fr;

}


.converter-box{

 flex-direction:column;

}

}