/* ==========================
   MAIN LAYOUT
========================== */


main{

    min-height:80vh;

}




.container{

    width:90%;

    max-width:1400px;

    margin:auto;

}






/* ==========================
   HEADER
========================== */


header{

    width:100%;

    padding:18px 5%;

    display:flex;

    justify-content:space-between;

    align-items:center;


    background:white;


    box-shadow:

    0 5px 20px rgba(0,0,0,.06);


    position:sticky;

    top:0;

    z-index:100;

}




.logo{

    font-size:24px;

    font-weight:800;

}





nav{

    display:flex;

    gap:25px;

    align-items:center;

}





nav a{

    font-weight:600;

    color:#475569;

}





nav a:hover{

    color:#2563eb;

}







/* ==========================
   FOOTER
========================== */


footer{

    margin-top:50px;

    padding:25px 5%;


    text-align:center;


    background:white;


    color:#64748b;


    border-top:

    1px solid #e2e8f0;

}





/* ==========================
   DARK MODE LAYOUT
========================== */


body.dark header{

    background:#0f172a;

}



body.dark footer{

    background:#0f172a;

    border-color:#334155;

}



body.dark nav a{

    color:#cbd5e1;

}