/* ==========================
   TABLET
========================== */


@media(max-width:1024px){


    .dashboard-container{

        width:95%;

    }



    .market-grid{

        grid-template-columns:

        repeat(2,1fr);

    }



    .widgets{

        grid-template-columns:

        1fr;

    }



    .hero h1{

        font-size:36px;

    }


}








/* ==========================
   MOBILE
========================== */


@media(max-width:700px){



    header{


        flex-direction:column;


        gap:15px;


        padding:15px;


    }





    nav{


        flex-wrap:wrap;


        justify-content:center;


        gap:15px;


    }





    .dashboard-container{


        width:95%;


    }





    .hero{


        padding:25px 10px;


    }





    .hero h1{


        font-size:30px;


    }





    .hero p{


        font-size:15px;


    }





    .search-box{


        flex-direction:column;


    }





    .search-box input{


        width:100%;


    }





    .search-box button{


        width:100%;


    }





    .suggestions{


        width:100%;


    }







    .market-grid{


        grid-template-columns:


        1fr;


    }







    .section{


        padding:18px;


    }







    .chart-container{


        height:250px;


    }







    .coin-row{


        flex-direction:column;


        align-items:flex-start;


        gap:10px;


    }







    .coin-data{


        text-align:left;


    }







    .converter-box{


        flex-direction:column;


        align-items:stretch;


    }







    .converter-box input,
    .converter-box button{


        width:100%;


    }



}







/* ==========================
   SMALL MOBILE
========================== */


@media(max-width:400px){



    .hero h1{


        font-size:26px;


    }



    .market-card p{


        font-size:22px;


    }



    .widget h2,
    .section h2{


        font-size:20px;


    }



}