/* =========================
   TABLET
========================= */

@media(max-width:1024px){

.dashboard{

width:94%;

}


.hero h1{

font-size:2.5rem;

}


.header{

padding:15px 3%;

}


.coin-info-grid{

grid-template-columns:1fr;

}

}



/* =========================
   MOBILE
========================= */

@media(max-width:768px){


.header{

flex-direction:column;

gap:15px;

}


.header nav{

flex-wrap:wrap;

justify-content:center;

gap:15px;

}



.hero{

padding:30px 20px;

text-align:center;

}



.hero h1{

font-size:2rem;

}



.hero p{

font-size:14px;

}



.search-box{

flex-direction:column;

}



.search-box button{

width:100%;

}



.overview-grid{

grid-template-columns:1fr;

}



.widgets{

grid-template-columns:1fr;

}



.chart-card{

padding:15px;

}



.converter-box{

flex-direction:column;

}



.converter button{

width:100%;

}



.footer{

flex-direction:column;

text-align:center;

gap:20px;

}



.about-card{

padding:25px;

}



}



/* =========================
 SMALL MOBILE
========================= */

@media(max-width:480px){


.dashboard{

width:95%;

}


.hero h1{

font-size:1.7rem;

}



.card,
.widget,
.overview-card{

padding:20px;

}



.price{

font-size:1.5rem;

}



.header nav a{

font-size:14px;

}

}